In [41]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json
from geopy.geocoders import Nominatim
import requests
from pandas.io.json import json_normalize 
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import folium
print("Imported necessary dependencies.")

Imported necessary dependencies.

In [19]:
#Load the URL and scrape the tables with html tag <table>
table=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
#the first table contains the informaiton I am need and it is at 0th index
df=table[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

The following code will drop rows with "Not assigned" value for Borough attribute/column.

In [34]:
df2=df.loc[(df['Borough'] != 'Not assigned')].reset_index(drop=True)
df2.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

To check if there are any postal codes with multiple neighborhoods in different columns.
Since it returned true when I run it, the problem doesn't exist.
I also assume that this data on Wikipedia page will not be modified anytime soon.

In [42]:
df2['Postal Code'].value_counts().max() == df2['Postal Code'].value_counts().min()

True

In [43]:
df2.shape

(103, 3)

There are 103 rows and 3 columns as expected.